#будет игнорироваться относительно файла.gitignore
/Lib/
/Scripts/
/.idea/

#будут игнорироваться все файлы, заканчивающиеся суффиксами _old и _backup
*_old*
*_backup*

#будут игнорироваться все файлы и каталоги Thumbs.db
#внезависимости от того, в каком каталоге они находятся
Thumbs.db
main.py
task_3.py
cook_book.py

#будут игнорироваться все файлы и каталоги с расширением.DS_Store
*.DS_Store 
*.cfg